body{
  background-image: url('../images/background.jpg');
}

.back_icon {
  width: 60px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.back_to_categories {
  margin-left: 20px;
}
