.windows:hover {
  color: blue;
}

.unix:hover {
  color: blue;
}

.network:hover {
  color: blue;
}

.arch:hover {
  color: blue;
}

.security:hover {
  color: blue;
}

.extra:hover {
  color: blue;
}
