.sec1:hover {
  color: blue;
}

.sec2:hover {
  color: blue;
}

.sec3:hover {
  color: blue;
}

.sec4:hover {
  color: blue;
}

.sec5:hover {
  color: blue;
}

.sec6:hover {
  color: blue;
}

.sec7:hover {
  color: blue;
}

.sec8:hover {
  color: blue;
}
