.test:hover {
  color: blue;
}

.guide:hover {
  color: blue;
}

.link1:hover {
  color: blue;
}

.link2:hover {
  color: blue;
}

.link3:hover {
  color: blue;
}

.link4:hover {
  color: blue;
}

.link5:hover {
  color: blue;
}
