

.sections {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
}

.sec1 {
  margin-left: 10px;
}
.sec2 {
  margin-left: 10px;
}
.sec3 {
  margin-left: 10px;
}
.sec4 {
  margin-left: 10px;
}

.main_page {
  font-size: 25px;
}
